body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#camera {
  position: absolute;
  left: 100px;
  top: 20px;
  width: 100px;
  height: 100px;
  color: lightgreen;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  z-index: 1000;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border: 0;
  overflow: hidden; /* Hide any content that exceeds the iframe size */
}

.lil-gui.autoPlace {
  top: 90%;
  bottom: 0;
}

#MyHud {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 20px;
  background-color: aliceblue;
  padding: 0.4em;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

#speedContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

#speedBar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(from 0deg, #00ff00 0%, #ff0000 100%);
  clip-path: polygon(50% 0%, 0 0, 50% 50%, 100% 0);
}

.hudElement {
  margin-top: 10px;
}
